@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: Martel;
}
body {
  background-color: #069345;
  color: white;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
#deck-display {
  padding: 20px;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 483px;
}
.square {
  width: 146px;
  height: 150px;
  border: 1px solid white;
}

.mole {
  background-image: url(img/WhackAMole.jpg);
  background-size: cover;
}
